header {
  display: flex;
  width: 100%;
  height: 100px;
  color: #fff;
  background-color: #89c7de;
  align-items: center;
  position: fixed;
}
 
p {
  padding: 130px 0px;
  height: 500px;
}
 
.title {
  margin-right: auto;
}
 
.menu-item {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

.content {
    height: 100%;
    min-height: 100vh;
    position: relative;
    padding-bottom: 120px;
    box-sizing: border-box;
}

footer {
    width: 100%;
    background-color: #89c7de;
    color: #fff;
    text-align: center;
    padding: 30px 0;

    position: absolute;
    bottom: 0;
}
